<%- include('../../partials/header.ejs')-%>
<%- include('../../partials/navbar.ejs')-%>

<body>
     
    <div class="container">

        <div class="card mt-3">
            <div class="card-header">
                <h3>Lista de produtos</h3>
            </div>
            <div class="card-body">

                <a href="/produto/cadastro" class="btn btn-success mb-3" >Cadastrar novo produto</a>

                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>CODIGO</th>
                        <th>DESCRIÇÃO</th>
                        <th>PREÇO</th>
                        <th>TIPO</th>
                        <th>AÇÕES</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% produtos.forEach(produto=>{  %>
                          <tr>
                             <td><%= produto.id %></td>
                             <td><%= produto.codigo %></td>
                             <td><%= produto.descricao %></td>
                             <td><%= produto.preco %></td>
                             <td><%= produto.tipo.descricao %></td>

                             <td>
                               <a href="/produto/editar/<%= produto.id %>" class="btn btn-warning" >Editar</a>

                               <form style="display: inline;" action="/produto/deletar/" method="post">

                                 <input type="hidden" value="<%= produto.id %>" name="id">


                                 <button class="btn btn-danger" type="submit">Deletar</button>
                               </form>
                              
                             </td>


                          </tr>
                        <% }) %>
                      
                    </tbody>
                  </table>

            </div>
        </div>



    </div>
    
</body>


<%- include('../../partials/footer.ejs')-%>