<%- include('../partials/painel_header.ejs')-%>


<nav id="linha-superior" class="navbar">
    <a class="navbar-brand" href="#"></a>
  </nav>
<% pedidos.forEach(pedido=>{ %>

    <div id="comanda" class="card mt-4 ml-1 float-sm-left col-md-2 ">

        <div class="card-header mt-1">
            <p>Cliente: <%= pedido.cliente %></p>
            <p>Numero: <%= pedido.id %></p>
            <p>Hora: <%= pedido.createdAt.getHours()%>:<%= pedido.createdAt.getMinutes() %> </p>
           
        </div>

        <div id="comanda_corpo" class="card-body" style="max-height: 200px; overflow-y: scroll; scrollbar-width: thin; padding: 0px;" >
         

           <% produtos_pedidos.forEach(produto_pedido=>{ %> 

             <ul class="list-group" style="margin-top: 1px;">
              <% if( produto_pedido.pedido_codigo == pedido.id){ %>
                
                <li class="list-group-item">

                    <p> produto: <%= produto_pedido.produto_descricao %>  </p>
                    <p> quantidade: <%= produto_pedido.quantidade %>      </p>
                   
                   
                </li>

              <% } %> 
            </ul>
          
            
            
           <% }) %>
            



        </div>

        <div class="card-footer">
            <form action="" method="post">
                <button class="btn btn-secondary float-sm-left " style="width: 49%; margin-left: 0px; margin-right: 1%;"  type="button">Expedir</button>
                <button class="btn btn-secondary float-sm-right " style="width: 49%;" type="button">Cancelar</button>
            </form>

        </div>
     </div>





 <% }) %>
     


<script>

setInterval(() => {
    fetch('/lista_comandas')
        .then(response => response.text())
        .then(html => {
            document.querySelector('body').innerHTML = html;
        });
}, 5000);


</script>





<%- include('../partials/painel_footer.ejs')-%>